* text=auto eol=lf
/tests export-ignore
/tools export-ignore
/samples export-ignore
/.github export-ignore
/phpunit.xml.dist export-ignore
/phpstan.neon.dist export-ignore
/.php-cs-fixer.dist.php export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/contracts export-ignore
